# Binaries
/scout

# Go workspace and build
/vendor/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/coverage.txt

# Mac / macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Logs
*.log

# Editors / IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Environment Variables
.env
.env.local
.env.development
.env.test
